body{
    display:flex;
    justify-content:center;
    margin-top:55px;
}
.container{
    width:550px;
    height:400px;
    border-radius:20px;
    background-color: lightgray;
    display:flex; 
    flex-direction: column;
    align-items:center;
}
h1{
    padding-top:30px;
}
#description{
  padding:30px;
  font-size:20px;
  width:500px;
}

#btn{
    width:90px;
    height:30px;
    border-radius:25px;
    
}
#btn:hover{
    background-color:gray;
    color:white;
    transition:0.3s ease;
    transform:scale(1.1);
}