
body {
    
    background-color: #0d0d0d; 
    
    
    background-image: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.05) 100%);
    
    
    font-family: 'Georgia', 'Times New Roman', serif;
    color: #332f2e;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap:70px;
    margin-top:50px;
    font-size:16px;
    color:white;
    display:fixed;

}
 ul li a{
    text-decoration: none;
    color:white;
    
}
 ul li a:hover{
    color:#8fb996;
    transition:0.3s ease;
    cursor:pointer;
    
}


.container{
   
   width:90%;
   height:700px;
   border-radius:30px;
   display: flex;
   
   align-items:center;
   flex-direction:column;
   margin-left:90px;
   padding-top:40px;
   color:#8fb996;
}
.container a{
    text-decoration:none;
    color:darkgreen;
}
.container a:hover{
    color:green;
    transition:0.3s ease;
}
#img{
    width:400px;
    height:400px;
    border-radius:50px;
    
}
#img:hover{
    border-color: #85e495; 
    box-shadow: 10px 20px 30px rgba(143, 185, 150, 0.1);
   transform:translateY(-10px);
   transition:0.5s ease;
}
.about{
    background-image: url('img.png');
    background-repeat:repeat;
    background-color:#0d0d0d;
    height:800px;
    color:white;
    padding-top:30px;
    padding-left:15px;
    display:flex;
    
    align-items:center;
    flex-direction:column;
}
#head-about{
    color:#8fb996;
}
#description-about{
    line-height: 1.6;
    width:490px;
}

#p1{
  width:600px;
    height:400px;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
}
.head-project{
    color:#8fb996;
}

.head-project{
    text-align:center;
}
.project-content{
    display:flex;
    flex-wrap:wrap;
    gap:30px;
}
.p1 h2{
    color:#8fb996;
}

.p1{
    border:1px solid #333;
    border-radius:25px;
    color:white;
    height:550px;
}
.p1:hover{
    border-color: #8fb996; 
    box-shadow: 0 10px 30px rgba(143, 185, 150, 0.1);
    transform:translateY(-10px);
    transition:0.5s ease;
}
.p1 h2, .p1 p{
    text-align:center;
}
.budget, .login{
    margin-left:30px;
}
.tech-stack{
  display:flex;
  
  justify-content:center;
  
  gap:20px;
  
}
#services{
    height:600px;
    
}
.services-section {
    padding: 100px 10%;
    background-color: #0d0d0d;
    text-align: center;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 30px;
    margin-top: 50px;
    padding-top:50px;
}

.service-box {
    background-color: #1a1a1a; 
    padding: 40px;
    border-radius: 15px;
    border: 1px solid #333; 
    transition: all 0.4s ease;
}

.service-box i {
    font-size: 3rem;
    margin-bottom: 20px;
    display: block;
}
.section-title{
    color:white;
}
.service-box h3 {
    color: #8fb996; 
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.service-box p {
    color: #a0a0a0; 
    line-height: 1.6;
}


.service-box:hover {
    transform: translateY(-10px);
    border-color: #8fb996; 
    box-shadow: 0 10px 30px rgba(143, 185, 150, 0.1);
}
.footer-container{
    background-color: #333;
    width:100%;
    height:400px;
    display:flex;
    align-items:center;
}

.footer-title{
    color:#8fb996;
    margin-left:40px;
}
.reach{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-left:100px;
    
}
.input{

    width:200px;
    height:30px;
    border-radius:25px;
}
.label{
    color:#8fb996;
    text-align:center;
}
.input:hover{
    border:2px solid #8fb996;
    transition:0.3s ease; 
}
.btn{
    background-color:#8fb996;
    width:90px;
    height:30px;
    border-radius:25px;
    margin-left:50px;
}
.btn:hover{
    background-color: #85e495;
    transition:0.3s ease;
}
.footer-menu{
    display:flex;
    flex-direction:column;
    
}
.footer-menu ul{
    list-style-type: none;
    color:#8fb996;
    font-size: 18px;
    
    
}
.footer-menu ul li{
    margin-bottom:30px;
    margin-left:190px;
}
.footer-menu ul li:hover{
    color:#85e495;
    transition:0.3s ease;
    cursor:pointer;
}
.footer-socials1{
    display: flex;
    
    gap:20px;
    margin-left:200px;
    
}
.fa-brands{
    color: #8fb996;
}
.fa-mobile{
    color:#8fb996;
}
.fa-brands:hover{
    color:#85e495;
    transition:0.3s ease;
    cursor:pointer;
}
.Socials{
    color:#8fb996;
    margin-left:230px;
    margin-top:-110px;
}